@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;

  /* border: 1px rgb(139, 0, 0) solid; */
  background-color: #fff;

  font-size: 32px;

  color: #77aaff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;

  -webkit-transition: 0.2s ease;
}

.wrapper {
  max-width: 1700px;
  margin: 0 auto;
}

.nav__kvant-logo {
  width: 120px;
  margin: 10px;
  border-radius: 100%;
}

.nav__kvant-logo:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav__list li {
  display: flex;
}

.nav__list-el {
  margin: 0;
  font-size: 24px;
  font-weight: 500;

  padding: 10px;
  margin: 5px;

  color: #77aaff;
  border: 3px #77aaff solid;
  border-radius: 20px;
}

.nav__list-el:hover {
  background-color: #77aaff;
  color: #fff;
  font-size: 26px;
}

.header__title {
  text-align: center;
  font-size: 46px;
  margin-top: 60px;
}

.main__title {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  font-weight: 500;
}

.section__child-card-photo {
  width: 325px;
  border-radius: 40px;
  border: 8px #77aaff solid;
}

.section__child-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;

  border: #77aaff 6px solid;
  border-radius: 50px;
  padding: 10px;

  box-shadow: 16px 16px 0px 0px rgba(132, 169, 233, 0.3);
}

.section__child-name {
  font-size: 60px;
  font-weight: 600;
  margin: 0 auto;
}

.wrapper-2 {
  width: 800px;
  margin: 0 auto;
}

.section {
  margin-top: 100px;
}
